
<h1>WELCOME <%=@user.username.upcase%></h1>

<br>

<%@user.tasks.each do |task|%>
  <div class=task-container>
    <form method=POST action=<%="/tasks/#{task.id}/complete"%> class=task>
      <%task_completed = task.date_completed ? ' complete-task-btn-done' : nil%>

      <input type=submit class=complete-task-btn <%= task.date_completed ? 'task-completed' : nil%> value=' '>
      <label><%=task.task%></label>
      <a href=<%="/tasks/#{task.id}/edit"%> >•••</a>
      <input type=hidden name='_method' value=PATCH>
    </form>
    <div class=task-info>

      <%if task.due_date%>
        <span class=task-due><%=task.due_date.strftime('%m-%d-%Y')%></span> 
      <%end%>
    </div>
    
  </div>
<%end%>